.main {
  height: 50%;
  width: 100%;
}

.flexbox {
  display: flex;
  min-height: 50vh;
  flex-flow: row wrap;
  padding: 2em;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.input {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.result {
  font-size: 56px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 0;
  height: 50vh;
}

.flex-item {
  white-space: nowrap;
  margin-right: 1em;
}

button {
  font-size: 25px;
  background-color: green;
  color: white;
  border-radius: 16px;
  border-style: solid;
  border-color: darkgreen
}

input {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

select {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0
}

.flex-item > span {
  margin-right: 0.5em;
  margin-left: 0.8em;
}

.result > span {
  margin: 16px;
}